*.sublime-workspace
.tmp/
lib-cov/
coverage/
cov-*
.project
.settings/
dist/
output/
man/
plato/
node_modules/
html-cov/
*~
nohup.out
TAGS
dump.rdb
npm*.log
fhc-debug.log
dfc-debug.log
.DS_Store
._.DS_Store
a.out
fh-log
*.o
.idea/
*.iml
*.swp
integration-test.sh
