language: node_js
node_js:
  - "0.10"
  - "4.4.2"
sudo: false
before_install:
  - npm install -g npm@2.13.5
  - npm install -g grunt@0.4.5
  - npm install -g grunt-cli
  - npm install -g bower
  - export PHANTOMJS_CDNURL=https://bitbucket.org/ariya/phantomjs/downloads npm install phantomjs
  - npm install -g phantomjs
install: npm install
