<!DOCTYPE html>
<html>
  <head>
    <title>API Mapper</title>

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/bower_components/patternfly/dist/css/patternfly-additions.min.css" />
  </head>
  <body class="cards-pf">
    <% include templates/common.html %>
    <% include templates/requests.html %>
    <% include templates/request.html %>
    <% include templates/mapping.html %>
    
    
      <nav class="navbar navbar-default navbar-pf" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img type="image/svg+xml" src="/images/logo-api-mapper.svg" alt="logo-api-mapper"  width="auto" height="10px" />
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-collapse-1">
        <ul class="nav navbar-nav navbar-utility">
          <li>
            <a href="/">Back to List</a>
          </li>
        </ul>
      </div>
      </nav>
    
    <div class="content container-fluid container-cards-pf">     
    </div>
    
    <script src="/lib/jquery/js/jquery.min.js"></script>
    <script src="/lib/underscore/underscore.js"></script>
    <script src="/lib/handlebars/handlebars.js"></script>
    <script src="/lib/backbone/backbone.js"></script>
    <script src="/lib/bootstrap/bootstrap.js"></script>
    <script src="/lib/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <script src="/templates/helpers.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/logger.js"></script>
    <script src="/js/base.view.js"></script>
    <script src="/js/requests.view.js"></script>
    <script src="/js/request.view.js"></script>
    <script src="/js/request.model.js"></script>
    <script src="/js/mapping.view.js"></script>
    <script src="/js/mapping.model.js"></script>
    <script src="/js/requests.collection.js"></script>
    <script>
      $(App.init);
    </script>
    <script src="/js/transformations.collection.js"></script>
  </body>
</html>
