<html>
  <head>
    <title>API Mapper</title>
    <link rel="stylesheet" href="css/postie.css" />
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css" />
  </head>
  <body>
    <% include templates/common.html %>
    <% include templates/requests.html %>
    <% include templates/request.html %>
    <div class="container-fluid">

      
    </div>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="lib/underscore/underscore.js"></script>
    <script src="lib/handlebars/handlebars.js"></script>
    <script src="lib/backbone/backbone.js"></script>
    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <script src="templates/helpers.js"></script>
    <script src="js/app.js"></script>
    <script src="js/logger.js"></script>
    <script src="js/base.view.js"></script>
    <script src="js/requests.view.js"></script>
    <script src="js/request.view.js"></script>
    <script src="js/request.model.js"></script>
    <script src="js/requests.collection.js"></script>
  </body>
</html>
