<!DOCTYPE html>
<html>
  <head>
    <title>DB Upgrade needed</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="content container">
      <div class="jumbotron">
        <h2>Database Upgrade Needed</h2>
        <p>We were unable to connect to your cloud service's database.</p>
        <p>If you are running this app on a FeedHenry mBaaS target, you must first use the data browser to upgrade your database like so:
          <img src="/images/upgrade.png" alt="Upgrade database image">
        <p>
          <a class="btn btn-primary btn-large" href="/">
            Retry &raquo;
          </a>
        </p>
      </div>

    </div>=
  </body>
</html>
