<!DOCTYPE html>
<html>
  <head>
    <title>DB Upgrade needed</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="content container">

      <div class="jumbotron">
        <h2>Service Setup Needed</h2>
        <ol>
          <li>
            <p><strong>Make the service public</strong><br>In the <em>Service Details</em> page of the newly created API Mapper service, in the <em>Access Control</em> section, check <em>Make this Service Public to all Projects and Services</em> and click <em>Save Service</em>.
              <img src="/images/api-mapper-make-public.png" alt="Make a service public">
            </p>
          </li>
          <li>
            <p><strong>Upgrade the database of the service</strong><br>The API Mapper service needs a dedicated database. To perform this task, the service needs to be fully deployed and running.</p>
            <ol>
              <li>
                In the <em>Data Browser</em> section of the newly created service, click the <em>Upgrade Database</em> button in the top right corner, and confirm by clicking <em>Upgrade Now</em>.
                <p>
                  <img src="/images/upgrade.png" alt="Upgrade database image" width="713px">
                </p>
              </li>
              <li>
                Redeploy the service by clicking <em>Deploy Cloud App</em> in the <em>Deploy</em> section.
              </li>
            </ol>
          </li>
        </ol>

        <p>
          <a class="btn btn-primary btn-large" href="/">
            Retry &raquo;
          </a>
        </p>
      </div>

    </div>
  </body>
</html>
