<!DOCTYPE html>
<html>
  <head>
    <title>DB Upgrade needed</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="content container">

      <div class="jumbotron">
        <h2>Service Setup Needed</h2>
        <ol>
          <li>
            <p><strong>Make the service public</strong><br>In the <em>Service Details</em> page of the newly created API Mapper service, in the <em>Access Control</em> section, check <em>Make this Service Public to all Projects and Services</em> and click <em>Save Service</em>.
              <img src="./images/api-mapper-make-public.png" alt="Make a service public">
            </p>
          </li>
          <li>
            <p>Visit the data browser, depending on your application configuration a "Upgrade Database" action will be available, this means the application is using an old/legacy shared database and it needs to be upgraded to use a dedicated one. Note the application needs to be first finished its initial deploy and be running to perform this task.</p>

            <img src="./images/upgrade.png" alt="Upgrade database image" width="713px">
          </li>
        </ol>

        <p>
          <a class="btn btn-primary btn-large" href="./">
            Retry &raquo;
          </a>
        </p>
      </div>

    </div>
  </body>
</html>
