form.request-failed textarea[name="response-raw"] {
  background-color: indianred;
  color: white;
}

form.request-failed .status {
  color: indianred;
}
.status {
  padding-top: 5px;
}

.toggleable:after {
  font-size: 0.5em;
  content:"\25B2";
  padding-bottom: 2px;
}

.toggleable.collapsed:after {
  content:"\25BC";
}

.alert.notification {
  position: fixed;
  top: 10%;
  width: 100%;
}
