@import "../lib/bootstrap/less/bootstrap.less";
@import "../lib/font-awesome/less/font-awesome.less";
@fa-font-path: "/lib/font-awesome/fonts";

#grid {
  .core  {
    .span(@gridColumns) {
      width: (@gridColumnWidth * @gridColumns) + (@gridGutterWidth * (@gridColumns - 1));
    }
  }
};

.fh-request-breadcrumb{
  //  background: red;
  margin: 20px 0;
}


.fh-secondary-header, .fh-secondary-header a, .fh-secondary-header a:hover {
  text-transform: uppercase;
  font-size: @fontSizeMini;
  background: @grayLight;
  color: @white;
  line-height: 25px;
  padding:  0 7px;
  text-decoration: none;
}

.fh-request{
  background: @grayLighter;
  padding: 0;

  // border-bottom: 1px solid @grayLight;
}
// Input

.fh-request-input{
  //  background: red;
  width: 100%;
}

.fh-request-headers{
  //  background: yellow;

  li{
    //    background: red!important;
    margin-bottom: 5px;
    &:last-child{
      margin: 0;
    }
    input[type="text"]{
      margin: 0;
    }
    select{
      margin: 0;
      width: 36%
    }
  }
  label { 
    display: inline-block;
    margin-right: 3%;
  }

  span{
    //    background: aqua;
    display: inline-block;
    text-align: right;
    float: right;
    a{
      display: inline-block;
      line-height: 30px;
      //      background: orange;
      padding: 0 5px;
      color: @grayLight;
      &:hover{
        color: @linkColor;
        &:last-child{color: @red;}
      }
    }
    .reorder{
      cursor: move;
    }
  }
}

.fh-request-body{
  textarea{
    margin: 0;
  }
}


.fh-result{
  padding: 10px 0 40px 0;
}



.fh-request-list-actions{
  text-align: right!important;
}

#rawRequestCollapsible > dl > {
  dd.request-headers {
    display: inline-block;
  }
}

a.toggleable.collapsed i.fa:before {
  content: @fa-var-chevron-right;
}

a.toggleable i.fa:before {
  content : @fa-var-chevron-down;
}
