<script id="tplMappingView" type="text/x-handlebars-template">
  <div id="fieldMappings">
  </div>
  <a href="#" id="removeMapping" class="btn btn-danger">Remove Mapping from Request</a>
</script>

<script id="tplFieldMappings" type="text/x-handlebars-template">
  <table class="table table-hover span12">
    <thead>
      <tr>
        <th>Use?</th>
        <th>Original Name</th>
        <th>New Name</th>
        <th>Field Type</th>
        <th>Transformation</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.fields}}
        {{>mappingRow }}
      {{/each}}
    </tbody>
  </table>
</script>

<script id="tplMappingRow" type="text/x-handlebars-template">
  <tr>
    <td><input class="input-medium" type="checkbox" name="included" checked></td>
    <td>{{ from }}
    <td><input class="input-medium" name="to" type="text" placeholder="Rename field to"></td>
    <td>{{ type }}</td>
    <td>
      {{transformationsForField this ../../transformations}}
    </td>
  </tr>
  {{#if fields.length}}
    {{#each fields}}
      {{>mappingRow this}}
    {{/each}}
  {{/if}}
  
</script>
