<script id="tplMappingView" type="text/x-handlebars-template">
  <div id="fieldMappings">
  </div>
</script>

<script id="tplFieldMappings" type="text/x-handlebars-template">
  <table class="table table-hover span12">
    <thead>
      <tr>
        <th>Use?</th>
        <th>Original Name</th>
        <th>New Name</th>
        <th>Field Type</th>
        <th>Field Value</th>
      </tr>
    </thead>
    <tbody>
      {{#each fields}}
        <tr>
          <td><input class="input-medium" type="checkbox" name="included" checked></td>
          <td>{{ from }}
          <td><input class="input-medium" name="to" type="text" placeholder="Rename field to"></td>
          <td>{{ type }}</td>
          <td>{{ value }}</td>
        </tr>
        {{renderSubMapping type value from }}
      {{/each}}
    </tbody>
  </ul>
</script>
