<script id="tplRequestsList" type="text/x-handlebars-template">
    <section class="fh-request-list">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <ul class="breadcrumb fh-request-breadcrumb">
            <li class="active">Home</li>
          </ul>

          {{#if requests}}
          <table class="table">
            <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
              <th>Mount Path</th>
              <!--<th>Date</th>-->
              <th class="fh-request-list-actions">
                <button class="btn btn-primary createRequest" type="button"><i class="fa fa-plus"></i> New Request</button>
              </th>
            </tr>
            </thead>
            <tbody>
            {{#each requests}}
            <tr data-id="{{_id}}">
              <td>{{method}}</td>
              <td>{{url}}</td>
              <td>{{mountPath}}</td>
              <!--<td>May 12th, 2015</td>-->
              <td class="fh-request-list-actions">
                <a class="btn btn-default btn-small btn-edit" type="button"><i class="fa fa-pencil"></i> Edit</a>
                <a class="btn btn-default btn-small btn-delete" type="button"><i class="fa fa-trash-o fa-lg"></i> Delete</a>
                <a href="/api/requests/{{_id}}/export" class="btn btn-default btn-small btn-export" type="button"><i class="fa fa-download"></i> Export</a>
              </td>
            </tr>
            {{/each}}
            </tbody>

          </table>
          {{else}}
          <p>You have no requests! To get started, use the "Create New Request" button</p>
          <p>
            <button class="btn btn-primary createRequest" type="button"><i class="fa fa-plus"></i> New Request</button>
          </p>
          {{/if}}

        </div>
      </div>
    </div>
  </section>
</script>
