<script id="tplNodejsRequest" type="text/x-handlebars-template">
var request = require('request');
request({
  url: "{{url}}",
  method: "{{method}}",
  {{#if headers}}
  headers: {
  {{#each headers}}
    "{{key}}" : "{{value}}"{{#unless @last}},{{/unless}}
  {{/each}}
  }{{#if data}},{{/if}}
  {{/if}}
  {{#if data}}
  data: '{{ escapeSingleQuotes data }}'
  {{/if}}
}, function (error, response, body) {
  if (error) {
    return console.error('An error occured:', error);
  }
  console.log('Server responded with:', body);
});
</script>

<script id="tplCurlRequest" type="text/x-handlebars-template">
curl -X {{method}}{{#if headers}}{{#each headers}} -H "{{key}}:{{value}}" {{/each}} {{/if}} {{#if data}}--data "{{escapeSingleQuotes data}}"{{/if}} {{url}} 
</script>

<script id="tplHeaders" type="text/x-handlebars-template">
  {{#each headers}}
    <dt>{{@key}}</dt>
    <dd>{{@this}}</dd>
  {{/each}}
</script>

<script id="tplHeaderRow" type="text/x-handlebars-template">
  <li class="headerRow">
    <input class="input-medium" name="headers.key" type="text" placeholder="Header Key" value="{{key}}">
    <input class="input-medium" name="headers.value" type="text" placeholder="Header Value" value="{{value}}">
    <span>
      <a class="add-header" href="#">{{fa "fa-plus"}}</a>
      <a class="remove-header" href="#">{{fa "fa-trash-o fa-lg"}}</a>
    </span>
  </li>
</script>

<script id="tplEditableHeaders" type="text/x-handlebars-template">
  <ul class="list-unstyled {{#if hasBody}}hasContentType{{/if}}">
      {{#if hasBody}}
      <li>
        <label class="input-medium">Content-Type</label>
        <select class="input-medium" name="content-type">
          <option value="application/json">application/json</option>
          <option value="application/atom+xml">application/atom+xml</option>
          <option value="application/x-www-form-urlencoded">application/x-www-form-urlencoded</option>
          <option value="application/xml">application/xml</option>
          <option value="multipart/form-data">multipart/form-data</option>
          <option value="text/html">text/html</option>
          <option value="text/plain">text/plain</option>
        </select>
        
      </li>
      {{/if}}
    {{#each model.headers}}
      {{> headerRow }}
    {{/each}}
  </ul>
</script>

<script id="tplRequestMappingContainer" type="text/x-handebars-template">
  <div class="container {{#unless model.mapping}}unmapped{{/unless}}">
    <div class="row">
      <div class="col-md-12">
        {{fa "fa-map-signs pull-left"}}
        {{fa "fa-map-signs pull-right"}}
        {{#unless model.mapping}}
          <a href="#" class="btn-add-mapping"> Add Mapping {{fa "fa-plus"}}</a>
        {{else}}
          <h4 class="fh-secondary-header">Response Mapping</h4>
        {{/unless}}

        <div id="mappingView"></div>
      </div>
    </div>
  </div>
</script>

<script id="tplCreateEditRequestView" type="text/x-handlebars-template">

  <section class="fh-request">
    <form class="container try">

      <div class="row">
        <div class="col-md-12">

          <ul class="breadcrumb fh-request-breadcrumb">
            <li><a href="#" class="btn-back">Home</a></li>
            <li class="active">{{#if isNew}}New{{else}}Edit{{/if}} Request</li>
          </ul>

          <div class="input-group fh-request-input">
            <span class="input-group-btn">
              <select name="method">
                {{#each methods}}
                <option>{{this}}</option>
                {{/each}}
              </select>
            </span>
            <input name="url" value="{{model.url}}" class="col-md-8 form-control" id="appendedPrependedDropdownButton" type="text" placeholder="Enter Request URL here">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">Send Request</button>
            </span>
          </div>
        </div>
      </div><!-- row -->

      <div class="row">
        <div class="col-md-6 fh-request-headers">
          <h4 class="fh-secondary-header">Headers</h4>
          <div id="editableHeaders"></div>
          
        </div>
        {{#if hasBody}}
        <div class="col-md-6 fh-request-body">
          <h4 class="fh-secondary-header">Body</h4>
          <textarea name="body" rows="3" class="col-md-6">{{ model.body }}</textarea>
        </div>
        {{/if}}
      </div><!-- row -->

      <div class="row">
        <div class="col-md-12">
          <h4 class="fh-secondary-header"><a class="toggleable collapsed" data-toggle="collapse" href="#reqHeadersCollapsible">{{fa "fa-chevron-down"}} Request Headers</a></h4>
          <div id="reqHeadersCollapsible" class="dl-horizontal collapse">
            <div class="request-headers">Try a request to see the headers</div>
          </div>
          
          <h4 class="fh-secondary-header"><a class="toggleable collapsed" data-toggle="collapse" href="#rawRequestCollapsible">{{fa "fa-chevron-down"}} Raw Request</a></h4>
          <div id="rawRequestCollapsible" class="dl-horizontal collapse">
            <pre class="request-raw">Try a request to see it's raw body</pre>
          </div>

        </div>
      </div><!-- row -->
    </form><!-- container -->
  </section><!-- fh-request -->
  
  <section class="fh-mapping">
    
  </section>


  <section class="loader">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">LOADING...</p>
        </div>
      </div>
    </div>
  </section>
  <section class="fh-result">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h4 class="fh-secondary-header">Response</h4>

          <p class="status"></p>

          <h4 class="fh-secondary-header">Response Headers</h4>

          <div class="row">
            <div class="col-md-6">
              <dl class="dl-horizontal response-headers"></dl>
            </div>
          </div>

          <h4  class="fh-secondary-header">Response Body</h4>
          <!-- We want to add Syntax highlighting here -->
          <pre class="pre-scrollable response-body"></pre>

          <h4 class="fh-secondary-header"><a class="toggleable collapsed" data-toggle="collapse" href="#rawResponse">{{fa "fa-chevron-down"}} Raw Response</a></h4>

          <div id="rawResponse" class="collapse">
            <pre class="response-raw">Send a request to see the raw response</pre>
          </div>

          <h4 class="fh-secondary-header"><a class="toggleable collapsed" data-toggle="collapse" href="#sampleCodeCollapsible">{{fa "fa-chevron-down"}} Sample code</a></h4>

          <div id="sampleCodeCollapsible" class="collapse">
            <h5>Node.js Request</h5>
            <pre id="sample-nodejs"></pre>

            <h5>cURL Request</h5>
            <pre id="sample-curl"></pre>
          </div>

          <p>
            <button id="saveRequest" class="btn btn-primary" type="button">{{#if isNew}}Create{{else}}Update{{/if}} Request</button>
          </p>
        </div>
      </div><!-- row -->
    </form><!-- container -->
  </section><!-- fh-request -->
</script>
